
:root {
  font-size: 16px;
}


*, 
*:after, 
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.container {
  text-align: center;
}

.container h1 {
  font-size: 3rem;
}

.container h3 {
  font-size: 2.5rem;
  margin:.5em 0;
  color:green;
}

.btn-group button {
  padding: .5em .75em;
  border: 1px solid rgba(0,0,0,0.9);
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  outline: none;
}

.btn-group button:not(:last-of-type) {
  margin-right: 1em;
}

.color {
  color: red !important
}